<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derek's Tech Blog</title>
    <link rel = "stylesheet" href="/public/css/"
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>Derek's Tech Blog</h1>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>    

</body>
</html>